<!DOCTYPE html>
<head>
  <title>Health History</title>
  <meta charset="UTF-8">

  <!-- for bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel = "stylesheet" type = "text/css" href = "app/assets/stylesheets/runningman.css" >
</head>
<body>

<%= render :partial => 'navbar' %>

<header>
  <h1 class="text-success">Crystal Ball Fitness Tracker</h1>
</header>
<p>Welcome to Our Fitness app!</p>
<p>PROGRESS</p>
<div class="container">
  <div class="row">
    <div class="col-sm">
<%= area_chart Input.group(:updated_at).average(:weight),id: "Weight Progress", width: "600px", height: "300px", label: "Weight", xtitle: "Time", ytitle: "Weight(lbs)", messages: {empty: "No data"} %>
    </div>
    <div class="col-sm">
      <%= pie_chart Meal.group(:meal).average(:Calories) %>
    </div>
  </div>
</div>
<div class="jumbotron" style="padding:3px; margin:1px;">
  </br>
  <p>“The groundwork for all happiness is good health.” – Leigh Hunt</p>
</div>

<%= render :partial => 'footer' %>

</body>
</html>
