
  .move-me {
    display: inline-block;
    padding: 0px;
    color: white;
    position: relative;
    margin: 0 0 0px 0;
    border-radius:0%;
  }
  .move-me-1 {

    animation: leftToRight 4s infinite;
  }
  

  @keyframes leftToRight {
    0% {
      left: 0%;
      top: 0%;
      background: white;
    }
    
    100% {
        left: 100%;
        top: 0%;
        background: white;
      }
  }