<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Health History</title>
		<meta charset="UTF-8">
	</head>
	<body>
	   <!-- Generates header-->
		<header>
			<h1>Crystal Ball Fitness Tracker</h1>
		</header>
		<!-- Generates navbar-->
		<nav>
			<a href="/?.html">Home</a> | 
			<a href="/?.html">History</a> |
			<a href="/?.html">Record Data</a> |
			<a href="/?.html">Recommendations</a>
		</nav>
		<p>Welcome to Our Fitness app</p>
		<h1><%= @history.recent %></h1>
		<h1>Graphs of fitness trends</h1>
	   <!-- Generates footer-->
		<footer>
			<div><p>@user.name Health History</p></div>
		</footer>
   </body>
</html>
